.headerBackground {
  background-color: var(--gray-700);
  width: 100vw;
  height: 10rem;
}

.logo {
  background: transparent;
  padding-top: 4.5rem;
  margin-bottom: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > img {
  height: 2.25rem;
  margin-right: 0.75rem;
}

.logo > h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

.to {
  color: var(--blue-400);
}

.do {
  color: var(--purple-400);
}
