.taskPage {
  display: grid;
  justify-items: center;
  max-width: 46rem;
}

@media (max-width: 768px) {
  /* font size no mobile */
  html {
    font-size: 87.5%;
  }
  .taskPage {
    max-width: 24rem;
    grid-template-columns: 1fr;
    padding: 0 1rem 0 1rem;
  }
}
